### Python For Loops

In [2]:
#Iteration over a list
print("List Iteration")
l = ["A", "B", "C"]
for i in l:
  print(i)

List Iteration
A
B
C

In [4]:
#Iterating over a tuple
print("Tuple Ieration")
t =("A", "B", "C")
for i in t:
  print(i)

Tuple Ieration
A
B
C

In [5]:
#Iterating over a string
print("String Iteration")
s= "ABCD"
for i in s:
  print(i)

String Iteration
A
B
C
D

In [18]:
#Iterating over dictionary
print("Dictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 456
for i in d:
  print("% s % d" %(i, d[i]))

Dictionary Iteration
xyz  123
abc  456

Loop Control Statement

In [21]:
#Continue Statement
# Prints all letters except 'e' and 'i'
for letter in 'abcdefghi':
    if letter == 'e' or letter == 'i':
        continue
    print('Current Letter :', letter)

Current Letter : a
Current Letter : b
Current Letter : c
Current Letter : d
Current Letter : f
Current Letter : g
Current Letter : h

In [24]:
#Break Statement :Breaks the control of the loop
for letter in 'abcdefghi':
    if letter == 'b' or letter == 'i':
        break
print('Current Letter :', letter)

Current Letter : b

In [25]:
# pass Statement: Empty loop
for letter in 'Abcdefgh':
  pass
print('Last Letter: ', letter)

Last Letter:  h

range() function

In [32]:
#Used to perform action specific numbe of times
#printing a number
for i in range(10):
  print(i, end = ' ')
print()

# Using range for iteration
l = [10, 20,30,40]
for i in range(len(l)):
  print(l[i], end=" ")
print()

#performing sum of first number
sum = 0
for i in range(1,10):
  sum = sum + i
print("Sum of first 10 numbers :", sum)

0 1 2 3 4 5 6 7 8 9
10 20 30 40
Sum of first 10 numbers : 45

for-else loop

In [35]:
#for-else loop
for i in range(1,4):
  print(i)
else:
  print("No Beak\n")

for i in range(1,4):
  print(i)
  break
else:# Not executed as there is a break
  print("No Beak\n")

1
2
3
No Beak

1

In [68]:
# Program to check if a number is prime or not
num = int(input("Enter a number > 1: "))
flag = False
if num > 1:
  for i in range(2,num):
    if (num % i) == 0:
      flag = True
      break
if flag:
  print(num, "is not a prime number")
else:
  print(num, "is prime number")

Enter a number > 1: 12
12 is not a prime number

In [83]:
# Program to check if a number is prime or not

# To take input from the user
num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Enter a number: 0
0 is not a prime number

In [86]:
#Python program to print all prime number in an interval
lower = 900
upper = 1000
print("Prime number between", lower, "and", upper,"are:")

for num in range(lower, upper + 1):
  #all prime numbers are greater than 1
  if num > 1:
    for i in range(2,num):
      if (num %i)==0:
        break
    else:
      print(num)

Prime number between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [87]:
#Factorial of a number
num =7

factorial = 1
if num < 0:
  print("Factorial does not exist")
elif num ==0:
  print("The factorial of 0 is 1")
else:
  for i in range(1,num +1):
    factorial = factorial * i
  print("The fectorial of ",num , "is", factorial)

The fectorial of  7 is 5040

In [88]:
#Multiplication Table
num =12
for i in range(1, 11):
  print(num,"x",i,"=", num *i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120